## /opt/vernemq/etc/vernemq.conf


allow_anonymous = off
listener.tcp.default = 0.0.0.0:1883


## -------------- File based authentication --------------
plugins.vmq_passwd = off
vmq_passwd.password_file = ./etc/vmq.passwd
vmq_passwd.password_reload_interval = 5    ## allow to add new cred in runtime.
## -------------- File based authorization --------------
plugins.vmq_acl = off
vmq_acl.acl_file = /opt/vernemq/etc/vmq.acl
vmq_acl.acl_reload_interval = 5        ## allow to add new rules in runtime.


# --------------  PostgreSQL Auth & ACL --------------
plugins.vmq_diversity = on
vmq_diversity.auth_postgres.enabled = on
vmq_diversity.postgres.host = localhost
vmq_diversity.postgres.port = 5432
vmq_diversity.postgres.user = vernemq
vmq_diversity.postgres.password = iotroot2025@IET
vmq_diversity.postgres.database = mqtt_auth # iotroot
vmq_diversity.postgres.password_hash_method = bcrypt #crypt


# -------------- Customer Erlang script --------------
# plugins.my_plugin = on
# plugins.my_plugin.path = /opt/vernemq/plugins

# -------------- Custom Lua script --------------
vmq_diversity.script_dir = ./share/lua
vmq_diversity.script1.file = /opt/vernemq/share/lua/my_plugin.lua

# -------------- log Configurations --------------
logging.obfuscation_secret = random
logging.keepalive_as_warning = on

log.console = file
log.console.level = info
log.console.file = ./log/console.log
log.console.console.format = text
log.console.file.format = text
log.console.rotation.size = infinity
log.console.rotation.keep = 5
log.console.rotation.compress_on_rotate = off

log.error = on
log.error.file = ./log/error.log
log.error.file.format = text
log.error.rotation.size = infinity
log.error.rotation.keep = 5
log.error.rotation.compress_on_rotate = off

log.crash = off
log.crash.file = ./log/crash.log
log.crash.rotation.size = infinity
log.crash.rotation.keep = 5
log.crash.rotation.compress_on_rotate = off

log.sasl = off
log.sasl.file = ./log/sasl.log
log.sasl.rotation.size = infinity
log.sasl.rotation.keep = 5
log.sasl.rotation.compress_on_rotate = off

log.syslog = off
